{% extends "layout.html" %}

{% block content %}

<form method="get">

    <div class="ui input">
        <input name="title" type="text" placeholder="標題" value="{{ title or '' }}">
    </div>
    
    <div class="ui input">
        <input name="author" type="text" placeholder="作者" value="{{ author or '' }}">
    </div>

    <div class="ui input">
        <input name="comment" type="text" placeholder="最低評論數" value="{{ comment or '' }}">
    </div>

    <div class="ui input">
        <input name="date" type="text" placeholder="日期  YYYY-MM-DD" value="{{ date or '' }}">
    </div>

    <div class="ui input">
        <input name="limit" type="text" placeholder="顯示筆數" value="{{ limit or 50 }}">
    </div>
    <div class="ui checkbox">
        <input name="good_com" type="checkbox" {% if good_com %}checked="checked"{% endif %}>
        <label>好雷</label>
      </div>

    <div class="ui checkbox">
        <input name="bad_com" type="checkbox" {% if bad_com %}checked="checked"{% endif %}>
        <label>負雷</label>
    </div>

    <button class="ui button primary">
        Search
    </button>
</form>

<table class="ui celled table">
    <thead>
      <tr>
        <th>日期</th>
        <th>標題</th>
        <th>作者</th>
        <th>評論數</th>
        <!-- <th>好負雷</th> -->
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
      <tr>
        <td>{{ movie.date }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.author }}</td>
        <td>{{ movie.comment }}</td>
        <!-- <td>{{ movie.movie_type }}</td> -->
      </tr>
      {% endfor %}
    </tbody>
</table>

{% if pagination.previous == None %}

{% else %}
    <button class="ui button blue">
        <a style="color:white" href="{{pagination.previous}}">&laquo; Previous</a>
    </button>
{%endif%}

{% if pagination.next == None %}

{% else %}
    <button class="ui button blue">
        <a style="color:white" href="{{pagination.next}}">Next &raquo;</a>
    </button>
{%endif%}

<button style="margin-left: 50px" class="ui button blue">
    <a style="color:white" href="/statistics">Statistics</a>
</button>

<button style="margin-left: 50px" class="ui button blue">
    <a style="color:white" href="/batman">Batman</a>
</button>



{% endblock %}